@import 'variable';
@import 'grid';

.about {
    font: 3.5em $prime;
    font-weight: 900;
    color: #fff;
    margin: 0 0 .5em 3.5em;
}

.me {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 1.5em;
    .photo {
        background-image: url("../img/me_nyc.png");
        background-size: cover;
        width: 25em;
        height: 20em;
        border-radius: 4em;
    }
    p {
        width: 40%;
        font-family: "Helvetica Neue";
        color: #fff;
        font-size: 1.25em;
        padding-left: 2em;
        margin: 0;
    }
}