@import 'variable';
@import 'grid';

.lgtw {
    font: 4em $prime;
    font-weight: 900;
    color: #fff;
    padding-left: .25em;
}

.headCon {
    font: 2em $prime;
    padding: .5em 0;
    color: #fff;
}

.infoCon {
    font: 1.75em $prime;
    color: #fff;
    padding-left: 1.25em; 
}

.icon {
    content: '';
    padding-top: 1em;
    display: flex;
    width: 32px;
    height: 32px;
    a {
        padding: 0 1em;
    }
}

.connect {
    padding-left: 1.3em;
    color: #fff;
    p {
        font: 1.75em $prime;
        font-weight: 900;
        margin-bottom: 0;
        line-height: .8em;
    }
    h3 {
        font: 1.5em $prime;
        margin-left: 1em;
        margin-bottom: 0;
    }
    a {
        text-decoration: none;
        color: #fff;
        font: 1.5em $prime;
        margin-left: 1em;
    }
    .icon {
        content: '';
        padding-top: 1em;
        display: flex;
        width: 32px;
        height: 32px;
    }
}




