/***********
**Padding&Margin
***********/
.bot1 {
    padding-bottom: 1em;
}

.bot2 {
    padding-bottom: 2em;
}

.bot3 {
    padding-bottom: 3em;
}

.bot4 {
    padding-bottom: 4em;
}

.mar1 {
    margin-bottom: 1em;
}

.mar2 {
    margin-bottom: 2em;
}

.mar3 {
    margin-bottom: 3em;
}

.mar4 {
    margin-bottom: 4em;
}