@import 'grid';
@import 'variable';

.study1 {
    display: flex;
    justify-content: center;
}

.case {
    padding-bottom: 3.5em;
    width: 65%;
}

.paper {
    width: 10em;
    height: 18em;
}

.travlr {
    color: #fff;
    font: 3.5em $prime;
    font-weight: 900;
    height: 5em;
    position: relative;
    text-align: center;
    p {
        font: .75em sans-serif;
        margin: 0;
        padding-top: .5em;
    }
}

.photo1 {
    background-image: url(/img/Simple%20Dark.png);
    background-size: contain;
    background-repeat: no-repeat;
//    margin-top: 1em;
    padding-top: 1em;
    width: 2em;
    height: 36em;
}

.info {
    color: #fff;
    font: 1.5em sans-serif;
    line-height: 1.5em;
    margin: 9em 0 0 2em;
}

.heading {
    color: #fff;
    font: 2em $prime;
    font-weight: 900;
//    margin-top: 1.5em;
    padding-top: 3em;
}

.bulk {
    color: #fff;
    font: 1.5em "Helvetica Neue";
    line-height: 1.75em;  
//    margin: 1em 0 2em 0;
    padding: .5em 0;
}

.photo2 {
    background-image: url(/img/photo2.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1em;
    width: 2em;
    height: 30em;
}

.loc {
    background-size: contain;
    background-repeat: no-repeat;
}

.color {
    display: flex;
    width: 5em;
    height: 15em;
    border-radius: 2em;
    margin: 2em;
}

.photo3 {
    background-image: url(/img/sign_in.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1em;
    width: 2em;
    height: 30em;
}

.photo4 {
    background-image: url(/img/details.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1em;
    width: 2em;
    height: 30em;
}





