// $prime: 'Nunito Sans', sans-serif;
// $second-font: 'Lora', serif;
// $prime: 'Playfair Display', serif;
// $second-font: 'Roboto', sans-serif;
$prime: 'DM Serif Display', serif;
$second-font: 'DM Sans', sans-serif;

$color: #1d2b67;

$par-size: 1.2em;
$par-two: 1.125em;
$par-three: 1em;