@import 'variable';
@import 'grid';

.white {
    background-color: #fff;
}

.work {
    font: 3.5em $prime;
    font-weight: 900; 
    color: #fff;
    text-align: center;
}

.ram {
    font: 1.5em $prime;
    color: #fff;
    text-align: center;
}

.wrap {
    display: flex;
    justify-content: center;
}

.waffle {
    margin: 2.5em 0 4em;
    width: 65%;
    a {
        color: #fff;
    }
    .blue {
        background-image: url(/img/t-shirt.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 12em;
        position: relative;
        p {
            position: absolute;
            bottom: 0;
            font: 2em $prime;
        }
    }
    .red {
        background-image: url(/img/coffee_bar.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        height: 12em;
        position: relative;
        p {
            position: absolute;
            bottom: 0;
            font: 2em $prime;
        }
    }
    .green {
        background-image: url(/img/nzart_mock.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 12em;
        position: relative;
        p {
            position: absolute;
            bottom: 0;
            font: 2em $prime;
        }
    }
    .orange {
        background-color: #fa9229;
        height: 12em;
        position: relative;
        p {
            position: absolute;
            bottom: 0;
            font: 2em $prime;
        }
    }
    .white {
        background-image: url(/img/twitu_till.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 12em;
        position: relative;
        p {
            position: absolute;
            bottom: 0;
            font: 2em $prime;
        }
    }
}

    



