@import 'variable';
@import 'grid';

.tee {
   background-image: url(../img/t_shirt_ny.jpg);
   background-position: bottom;
}

.runr {
   background-image: url(../img/runr.jpg);
   background-position: bottom;
}

.trav {
    background-image: url(../img/nzart_mock.png); 
}

.tigvi {
    background-image: url(../img/twitu_till.png);
}

