@import 'grid';
@import 'contact';
@import 'variable';
@import 'work';
@import 'about';
@import 'travlr';
@import 'anim';
@import 'padmar';


body {
    margin: 0 auto;
    padding: 0;
    background-color: #1d2b67;
    min-height: 100vh;
    position: relative;
}

.pls {
    width: 100%;
    padding-left: 2em;
    color: #fff;
    font: 5em $prime;
    font-weight: 900;
    line-height: 1.1;
    @media (max-width: 702px) {
        padding-left: 1em;
        font-size: 4em;
    }
    @media (max-width: 480px) {
        font-size: 3em;
        padding-left: .5em;
    }
}

.a_btn {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all .1s linear;
    &:hover {
        width: 200px;
    }
    &:hover span {
        display: flex;
    }
    &:hover .fa-plus {
        display: none;
    }
    &:hover .fa-arrow-right {
        display: flex;
        transform: translateX(10px);
    }
    span {
        order: -1;
        display: none;
        font-family: $prime;
        font-size: 1.25em;
        font-weight: 900;
        transform: translateX(15px);
        overflow: hidden;
        color: #1d2b67;
    }
    i{
        color: #1d2b67;
        margin: 0 auto;
        display: flex;
    }
    .fa-arrow-right {
        display: none;
    }
}


.o_btn {
    width: 275px;
    height: 100px;
    border-radius: 30px;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .fa-arrow-right {
        font-size: 1.75em;
        margin: 0 auto;
        transition: transform .125s linear;
    }
    &:hover .fa-arrow-right {
        transform: translateX(10px);
    }
    span {
        display: flex;
        font-family: $prime;
        font-size: 1.75em;
        font-weight: 900;
        margin: 0 auto;
        overflow: hidden;
        color: #1d2b67;
        transition: transform .125s linear;
    }
    &:hover span {
            transform: translateX(30px);
        }
    i{
        color: #1d2b67;
        margin: 0 auto;
        display: flex;
    }
}


footer {
    background-color: #ffffff;
    width: 100%;
    max-width: 2000px;
    //margin: auto auto 0 auto;
    position: absolute;
    bottom: 0;
    p {
        font-family: $prime;
        font-size: 1.15em;
        display: inline-block;
        margin: 0;
        padding: .5em;
        top: 1em;
    }
    a {
        text-decoration: none;
        color: black;
        font-family: $prime;
        font-size: 1.15em;
        font-weight: 400;
        display: inline-block;
        margin: 0;
        padding: .5em;
        top: 1em;
    }
}


//Reusable
.wrapper {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 75%;
    @media (max-width: 768px) {
        width: 85%;
    }
    @media (max-width: 480px) {
        width: 97.5%;
    }
}

.head {
    font: 3.5em $prime;
    font-weight: 900;
    color: #fff;
    text-align: center;
    @media (max-width: 768px) {
        font-size: 2.75em;
    }
    @media (max-width: 480px) {
        font-size: 2.25em;
    }
}

.sub {
    font: 1.5em $prime;
    color: #fff;
    text-align: center;
    @media (max-width: 768px) {
        font-size: 1.25em;
    }
    @media (max-width: 480px) {
        font-size: 1.15em;
    }
}

.whitebox {
    width: 217px;
    height: 217px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 768px) {
        width: 400px;
        height: 100px;
        margin-bottom: 1em;
    }
}

.rev {
    flex-direction: row-reverse;
    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.left {
    margin-left: 1em;
    @media (max-width: 768px) {
        margin-left: 0;
    }
}
.right {
    margin-right: 1em;
    @media (max-width: 768px) {
        margin-right: 0;
    }
}

.p {
    color: #1d2b67;
}

.bodyp {
    width: 75%;
    margin: 0 auto;
    font-family: $second-font;
    font-size: $par-size;
    color: #fff;
    line-height: 1.57;
    @media (max-width: 768px) {
        width: 85%;
        font-size: $par-two;
        line-height: 1.4;
    }
    @media (max-width: 480px) {
        font-size: $par-three;
    }
}

.button {
    background-color: none;
    color: #fff;
    width: 430px;
    height: 113px;
    border: 3px solid #fff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition: background-color color .2s linear;
    @media (max-width: 480px) {
        width: 300px;
        height: 75px;
        
    }
    &:hover {
        background-color:#fff;
        color: #1d2b67;
    }
    .text {
        font: 3.5em $prime;
        transition: color .2s linear;
        display: inline-block;
        margin: 0 auto;
        @media (max-width: 480px) {
            font-size: 2em;
        }
    }
}
