@import 'grid';
@import 'contact';
@import 'variable';
@import 'work';
@import 'bourbon/bourbon';
@import 'about';
@import 'travlr';


body {
    margin: 0 auto;
    padding: 0;
    background: linear-gradient(16deg, rgba(29,43,103,1) 0%, rgba(156,74,201,1) 100%);
    min-height: 100vh;
    position: relative;
}

.pls {
    width: 100%;
    padding-left: 2em;
    color: #fff;
    font: 5em $prime;
    font-weight: 900;
    @media (max-width: 702px) {
        padding-left: 1em;
        font-size: 4em;
    }
    @media (max-width: 480px) {
        font-size: 3em;
    }
}


/*.rotator {
    font-family: "Verdana";
    font-size: 3em;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    //transform: translateY(-50%);
}*/

footer {
    background-color: #ffffff;
    width: 100%;
    //display: flex;
    //flex-shrink: 0;
    max-width: 2000px;
    margin: auto auto 0 auto;
    position: absolute;
    bottom: 0;
    //left: 0;
    p {
        font-family: $prime;
        font-size: 1.15em;
        display: inline-block;
        margin: 0;
        padding: .5em;
        top: 1em;
    }
    a {
        text-decoration: none;
        color: black;
        font-family: $prime;
        font-size: 1.15em;
        font-weight: 400;
        display: inline-block;
        margin: 0;
        padding: .5em;
        top: 1em;
    }
}


//Reusable
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 75%;
    @media (max-width: 768px) {
        width: 85%;
    }
    @media (max-width: 480px) {
        width: 100%;
    }
}

.head {
    font: 3.5em $prime;
    font-weight: 900;
    color: #fff;
    text-align: center;
    @media (max-width: 768px) {
        font-size: 2.75em;
    }
    @media (max-width: 480px) {
        font-size: 2.25em;
    }
}

.sub {
    font: 1.5em $prime;
    color: #fff;
    text-align: center;
    @media (max-width: 768px) {
        font-size: 1.25em;
    }
    @media (max-width: 480px) {
        font-size: 1.15em;
    }
}


.overlay {
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(65, 65, 65, 1);
    display: block;
    position: relative;
    transition: opacity 0.125s linear;
    &:hover {
        opacity: 0.5;
    }
    .work_text {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
        font-size: 3em;
        font-family: $second-font;
        font-weight: 900;
        color: rgba(156,74,201,1);
    }
}

.photos {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}


/***********
**Case Study
***********/
.bodyp {
    width: 75%;
    margin: 0 auto;
    font-family: $second-font;
    font-size: $par-size;
    color: #fff;
    //color: black;
    @media (max-width: 768px) {
        width: 85%;
        font-size: $par-two;
    }
    @media (max-width: 480px) {
        font-size: $par-three;
    }
}
.sugar_cl {
    background-image: url(../img/sugar_cl.jpg);
}


/***********
**Padding&Margin
***********/
.bot1 {
    padding-bottom: 1em;
}

.bot2 {
    padding-bottom: 2em;
}

.bot3 {
    padding-bottom: 3em;
}

.bot4 {
    padding-bottom: 4em;
}

.mar1 {
    margin-bottom: 1em;
}

.mar2 {
    margin-bottom: 2em;
}