/*  DEFAULT SETTINGS:
        MOBILE: 600px & below
        TABLET: 600px - 900px
        DSKTOP: 900px & up
*/
/* line 7, ../sass/_grid.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/***** GRID *****/
/*.column {
    float:left;
    padding: 10px 10px;
}
.nofloat {
    float:none;
}
.column.full {
    width:100%;
}
.column.twothirds {
    width:66.666666%;
}
.column.threefourths {
    width:75%;
}
.column.fourfifths {
    width:80%;
}
.column.fivesixths {
    width:83.333333%;
}
.column.threequarter {
    width:75%;
}
.column.half {
    width:50%;
}
.column.third {
    width:33.333333%;
}
.column.fourth {
    width:25%;
}
.column.fifth {
    width:20%;
}
.column.sixth {
    width:16.666666%;
}
**** TOOLS ****
.center {
    float:none;
    margin:auto;
}
.nospace {
    padding:0 !important;
    margin:0 !important;
}
.flowopposite {
    float:right;
}
.nopadding {
    padding:0 !important;
}
.clearall {
    clear:both;
}*/
/************
** Built
************/
/* line 77, ../sass/_grid.scss */
.onefour {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

/* line 84, ../sass/_grid.scss */
.redo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
  flex-flow: row;
}

/*  DEFAULT SETTINGS:
        MOBILE: 600px & below
        TABLET: 600px - 900px
        DSKTOP: 900px & up
*/
/* line 7, ../sass/_grid.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/***** GRID *****/
/*.column {
    float:left;
    padding: 10px 10px;
}
.nofloat {
    float:none;
}
.column.full {
    width:100%;
}
.column.twothirds {
    width:66.666666%;
}
.column.threefourths {
    width:75%;
}
.column.fourfifths {
    width:80%;
}
.column.fivesixths {
    width:83.333333%;
}
.column.threequarter {
    width:75%;
}
.column.half {
    width:50%;
}
.column.third {
    width:33.333333%;
}
.column.fourth {
    width:25%;
}
.column.fifth {
    width:20%;
}
.column.sixth {
    width:16.666666%;
}
**** TOOLS ****
.center {
    float:none;
    margin:auto;
}
.nospace {
    padding:0 !important;
    margin:0 !important;
}
.flowopposite {
    float:right;
}
.nopadding {
    padding:0 !important;
}
.clearall {
    clear:both;
}*/
/************
** Built
************/
/* line 77, ../sass/_grid.scss */
.onefour {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

/* line 84, ../sass/_grid.scss */
.redo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
  flex-flow: row;
}

/* line 4, ../sass/_contact.scss */
.lgtw {
  font: 4em "Nunito Sans", sans-serif;
  font-weight: 900;
  color: #fff;
  padding-left: .25em;
}

/* line 11, ../sass/_contact.scss */
.hl {
  font: 1.25em "Nunito Sans", sans-serif;
  color: #fff;
  padding-left: 2em;
  width: 75%;
}

/* line 18, ../sass/_contact.scss */
.connect {
  padding-left: 1.3em;
  color: #fff;
}
/* line 21, ../sass/_contact.scss */
.connect p {
  font: 1.75em "Nunito Sans", sans-serif;
  font-weight: 900;
  margin-bottom: 0;
  line-height: .8em;
}
/* line 27, ../sass/_contact.scss */
.connect h3 {
  font: 1.5em "Nunito Sans", sans-serif;
  margin-left: 1em;
  margin-bottom: 0;
}
/* line 32, ../sass/_contact.scss */
.connect a {
  text-decoration: none;
  color: #fff;
  font: 1.5em "Nunito Sans", sans-serif;
  margin-left: 1em;
}
/* line 38, ../sass/_contact.scss */
.connect .icon {
  content: '';
  padding-top: 1em;
  display: flex;
  width: 32px;
  height: 32px;
}

/*  DEFAULT SETTINGS:
        MOBILE: 600px & below
        TABLET: 600px - 900px
        DSKTOP: 900px & up
*/
/* line 7, ../sass/_grid.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/***** GRID *****/
/*.column {
    float:left;
    padding: 10px 10px;
}
.nofloat {
    float:none;
}
.column.full {
    width:100%;
}
.column.twothirds {
    width:66.666666%;
}
.column.threefourths {
    width:75%;
}
.column.fourfifths {
    width:80%;
}
.column.fivesixths {
    width:83.333333%;
}
.column.threequarter {
    width:75%;
}
.column.half {
    width:50%;
}
.column.third {
    width:33.333333%;
}
.column.fourth {
    width:25%;
}
.column.fifth {
    width:20%;
}
.column.sixth {
    width:16.666666%;
}
**** TOOLS ****
.center {
    float:none;
    margin:auto;
}
.nospace {
    padding:0 !important;
    margin:0 !important;
}
.flowopposite {
    float:right;
}
.nopadding {
    padding:0 !important;
}
.clearall {
    clear:both;
}*/
/************
** Built
************/
/* line 77, ../sass/_grid.scss */
.onefour {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

/* line 84, ../sass/_grid.scss */
.redo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
  flex-flow: row;
}

/* line 4, ../sass/_work.scss */
.tee {
  background-image: url(../img/t_shirt_ny.jpg);
  background-position: bottom;
}

/* line 9, ../sass/_work.scss */
.runr {
  background-image: url(../img/runr.jpg);
  background-position: bottom;
}

/* line 14, ../sass/_work.scss */
.trav {
  background-image: url(../img/nzart_mock.png);
}

/* line 18, ../sass/_work.scss */
.tigvi {
  background-image: url(../img/twitu_till.png);
}

/*  DEFAULT SETTINGS:
        MOBILE: 600px & below
        TABLET: 600px - 900px
        DSKTOP: 900px & up
*/
/* line 7, ../sass/_grid.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/***** GRID *****/
/*.column {
    float:left;
    padding: 10px 10px;
}
.nofloat {
    float:none;
}
.column.full {
    width:100%;
}
.column.twothirds {
    width:66.666666%;
}
.column.threefourths {
    width:75%;
}
.column.fourfifths {
    width:80%;
}
.column.fivesixths {
    width:83.333333%;
}
.column.threequarter {
    width:75%;
}
.column.half {
    width:50%;
}
.column.third {
    width:33.333333%;
}
.column.fourth {
    width:25%;
}
.column.fifth {
    width:20%;
}
.column.sixth {
    width:16.666666%;
}
**** TOOLS ****
.center {
    float:none;
    margin:auto;
}
.nospace {
    padding:0 !important;
    margin:0 !important;
}
.flowopposite {
    float:right;
}
.nopadding {
    padding:0 !important;
}
.clearall {
    clear:both;
}*/
/************
** Built
************/
/* line 77, ../sass/_grid.scss */
.onefour {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

/* line 84, ../sass/_grid.scss */
.redo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
  flex-flow: row;
}

/* line 4, ../sass/_about.scss */
.about {
  font: 3.5em "Nunito Sans", sans-serif;
  font-weight: 900;
  color: #fff;
  margin: 0 0 .5em 3.5em;
}

/* line 11, ../sass/_about.scss */
.me {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 1.5em;
}
/* line 16, ../sass/_about.scss */
.me .photo {
  background-image: url("../img/me_nyc.png");
  background-size: cover;
  width: 25em;
  height: 20em;
  border-radius: 4em;
}
/* line 23, ../sass/_about.scss */
.me p {
  width: 40%;
  font-family: "Helvetica Neue";
  color: #fff;
  font-size: 1.25em;
  padding-left: 2em;
  margin: 0;
}

/*  DEFAULT SETTINGS:
        MOBILE: 600px & below
        TABLET: 600px - 900px
        DSKTOP: 900px & up
*/
/* line 7, ../sass/_grid.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/***** GRID *****/
/*.column {
    float:left;
    padding: 10px 10px;
}
.nofloat {
    float:none;
}
.column.full {
    width:100%;
}
.column.twothirds {
    width:66.666666%;
}
.column.threefourths {
    width:75%;
}
.column.fourfifths {
    width:80%;
}
.column.fivesixths {
    width:83.333333%;
}
.column.threequarter {
    width:75%;
}
.column.half {
    width:50%;
}
.column.third {
    width:33.333333%;
}
.column.fourth {
    width:25%;
}
.column.fifth {
    width:20%;
}
.column.sixth {
    width:16.666666%;
}
**** TOOLS ****
.center {
    float:none;
    margin:auto;
}
.nospace {
    padding:0 !important;
    margin:0 !important;
}
.flowopposite {
    float:right;
}
.nopadding {
    padding:0 !important;
}
.clearall {
    clear:both;
}*/
/************
** Built
************/
/* line 77, ../sass/_grid.scss */
.onefour {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

/* line 84, ../sass/_grid.scss */
.redo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
  flex-flow: row;
}

/* line 4, ../sass/_travlr.scss */
.study1 {
  display: flex;
  justify-content: center;
}

/* line 9, ../sass/_travlr.scss */
.case {
  padding-bottom: 5em;
  width: 65%;
}

/* line 14, ../sass/_travlr.scss */
.paper {
  width: 10em;
  height: 18em;
}

/* line 19, ../sass/_travlr.scss */
.travlr {
  color: #fff;
  font: 3.5em "Nunito Sans", sans-serif;
  font-weight: 900;
  height: 5em;
  position: relative;
  text-align: center;
}
/* line 26, ../sass/_travlr.scss */
.travlr p {
  font: .75em sans-serif;
  margin: 0;
  padding-top: .5em;
}

/* line 33, ../sass/_travlr.scss */
.photo1 {
  background-image: url(../img/Simple%20Dark.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 1em;
  position: relative;
  margin: 0;
  width: 2em;
  height: 36em;
  background-position: center center;
}

/* line 47, ../sass/_travlr.scss */
.bulk {
  color: #fff;
  font: 1.25em "Helvetica Neue";
  line-height: 1.5em;
  padding: 1em 0;
  margin: 0;
}

/* line 56, ../sass/_travlr.scss */
.photo2 {
  background-image: url(../img/photo2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 2em;
  margin: 0 auto;
  width: 2em;
  height: 30em;
}

/* line 67, ../sass/_travlr.scss */
.loc {
  background-size: contain;
  background-repeat: no-repeat;
}

/* line 72, ../sass/_travlr.scss */
.color {
  display: flex;
  width: 5em;
  height: 15em;
  border-radius: 2em;
  margin: 2em;
}

/* line 80, ../sass/_travlr.scss */
.photo3 {
  background-image: url(/img/sign_in.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 1em;
  width: 2em;
  height: 30em;
}

/* line 89, ../sass/_travlr.scss */
.photo4 {
  background-image: url(/img/details.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 1em;
  width: 2em;
  height: 30em;
}

/* line 9, ../sass/home-style.scss */
body {
  margin: 0 auto;
  padding: 0;
  background: linear-gradient(16deg, #1d2b67 0%, #9c4ac9 100%);
  min-height: 100vh;
  position: relative;
}

/* line 17, ../sass/home-style.scss */
.pls {
  width: 100%;
  padding-left: 2em;
  color: #fff;
  font: 5em "Nunito Sans", sans-serif;
  font-weight: 900;
}
@media (max-width: 702px) {
  /* line 17, ../sass/home-style.scss */
  .pls {
    padding-left: 1em;
    font-size: 4em;
  }
}
@media (max-width: 480px) {
  /* line 17, ../sass/home-style.scss */
  .pls {
    font-size: 3em;
  }
}

/* line 32, ../sass/home-style.scss */
footer {
  background-color: #ffffff;
  width: 100%;
  max-width: 2000px;
  margin: auto auto 0 auto;
  position: absolute;
  bottom: 0;
}
/* line 42, ../sass/home-style.scss */
footer p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.15em;
  display: inline-block;
  margin: 0;
  padding: .5em;
  top: 1em;
}
/* line 50, ../sass/home-style.scss */
footer a {
  text-decoration: none;
  color: black;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.15em;
  font-weight: 400;
  display: inline-block;
  margin: 0;
  padding: .5em;
  top: 1em;
}

/* line 65, ../sass/home-style.scss */
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 75%;
}
@media (max-width: 768px) {
  /* line 65, ../sass/home-style.scss */
  .wrapper {
    width: 85%;
  }
}
@media (max-width: 480px) {
  /* line 65, ../sass/home-style.scss */
  .wrapper {
    width: 100%;
  }
}

/* line 79, ../sass/home-style.scss */
.head {
  font: 3.5em "Nunito Sans", sans-serif;
  font-weight: 900;
  color: #fff;
  text-align: center;
}
@media (max-width: 768px) {
  /* line 79, ../sass/home-style.scss */
  .head {
    font-size: 2.75em;
  }
}
@media (max-width: 480px) {
  /* line 79, ../sass/home-style.scss */
  .head {
    font-size: 2.25em;
  }
}

/* line 92, ../sass/home-style.scss */
.sub {
  font: 1.5em "Nunito Sans", sans-serif;
  color: #fff;
  text-align: center;
}
@media (max-width: 768px) {
  /* line 92, ../sass/home-style.scss */
  .sub {
    font-size: 1.25em;
  }
}
@media (max-width: 480px) {
  /* line 92, ../sass/home-style.scss */
  .sub {
    font-size: 1.15em;
  }
}

/* line 104, ../sass/home-style.scss */
.whitebox {
  width: 217px;
  height: 217px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 124, ../sass/home-style.scss */
.rev {
  flex-direction: row-reverse;
}

/* line 128, ../sass/home-style.scss */
.left {
  margin-left: 1em;
}

/* line 131, ../sass/home-style.scss */
.right {
  margin-right: 1em;
}

/* line 135, ../sass/home-style.scss */
.p {
  color: #9c4ac9;
}

/* line 139, ../sass/home-style.scss */
.overlay {
  opacity: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #414141;
  display: block;
  position: relative;
  transition: opacity 0.125s linear;
}
/* line 149, ../sass/home-style.scss */
.overlay:hover {
  opacity: 0.5;
}
/* line 152, ../sass/home-style.scss */
.overlay .work_text {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  font-size: 3em;
  font-family: "Lora", serif;
  font-weight: 900;
  color: #9c4ac9;
}

/* line 166, ../sass/home-style.scss */
.photos {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

/***********
**Case Study
***********/
/* line 182, ../sass/home-style.scss */
.bodyp {
  width: 75%;
  margin: 0 auto;
  font-family: "Lora", serif;
  font-size: 1.25em;
  color: #fff;
  line-height: 1.57;
}
@media (max-width: 768px) {
  /* line 182, ../sass/home-style.scss */
  .bodyp {
    width: 85%;
    font-size: 1.15em;
    line-height: 1.35;
  }
}
@media (max-width: 480px) {
  /* line 182, ../sass/home-style.scss */
  .bodyp {
    font-size: 1em;
  }
}

/* line 198, ../sass/home-style.scss */
.sugar_cl {
  background-image: url(../img/sugar_cl.jpg);
}

/* line 202, ../sass/home-style.scss */
.button {
  background-color: none;
  color: #fff;
  width: 430px;
  height: 113px;
  border: 3px solid #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: background-color color .2s linear;
}
/* line 214, ../sass/home-style.scss */
.button:hover {
  background-color: #fff;
  color: #9c4ac9;
}
/* line 218, ../sass/home-style.scss */
.button .text {
  font: 3.5em "Nunito Sans", sans-serif;
  transition: color .2s linear;
  display: inline-block;
  margin: 0 auto;
}

/***********
**Padding&Margin
***********/
/* line 230, ../sass/home-style.scss */
.bot1 {
  padding-bottom: 1em;
}

/* line 234, ../sass/home-style.scss */
.bot2 {
  padding-bottom: 2em;
}

/* line 238, ../sass/home-style.scss */
.bot3 {
  padding-bottom: 3em;
}

/* line 242, ../sass/home-style.scss */
.bot4 {
  padding-bottom: 4em;
}

/* line 246, ../sass/home-style.scss */
.mar1 {
  margin-bottom: 1em;
}

/* line 250, ../sass/home-style.scss */
.mar2 {
  margin-bottom: 2em;
}

/* line 254, ../sass/home-style.scss */
.mar3 {
  margin-bottom: 3em;
}

/* line 258, ../sass/home-style.scss */
.mar4 {
  margin-bottom: 4em;
}
