/*  DEFAULT SETTINGS:
        MOBILE: 600px & below
        TABLET: 600px - 900px
        DSKTOP: 900px & up
*/
/* line 7, ../sass/_grid.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/***** GRID *****/
/* line 13, ../sass/_grid.scss */
.column {
  float: left;
  padding: 10px 10px;
}

/* line 17, ../sass/_grid.scss */
.nofloat {
  float: none;
}

/* line 20, ../sass/_grid.scss */
.column.full {
  width: 100%;
}

/* line 23, ../sass/_grid.scss */
.column.twothirds {
  width: 66.666666%;
}

/* line 26, ../sass/_grid.scss */
.column.threefourths {
  width: 75%;
}

/* line 29, ../sass/_grid.scss */
.column.fourfifths {
  width: 80%;
}

/* line 32, ../sass/_grid.scss */
.column.fivesixths {
  width: 83.333333%;
}

/* line 35, ../sass/_grid.scss */
.column.threequarter {
  width: 75%;
}

/* line 38, ../sass/_grid.scss */
.column.half {
  width: 50%;
}

/* line 41, ../sass/_grid.scss */
.column.third {
  width: 33.333333%;
}

/* line 44, ../sass/_grid.scss */
.column.fourth {
  width: 25%;
}

/* line 47, ../sass/_grid.scss */
.column.fifth {
  width: 20%;
}

/* line 50, ../sass/_grid.scss */
.column.sixth {
  width: 16.666666%;
}

/***** TOOLS *****/
/* line 54, ../sass/_grid.scss */
.center {
  float: none;
  margin: auto;
}

/* line 58, ../sass/_grid.scss */
.nospace {
  padding: 0 !important;
  margin: 0 !important;
}

/* line 62, ../sass/_grid.scss */
.flowopposite {
  float: right;
}

/* line 65, ../sass/_grid.scss */
.nopadding {
  padding: 0 !important;
}

/* line 68, ../sass/_grid.scss */
.clearall {
  clear: both;
}

/*  DEFAULT SETTINGS:
        MOBILE: 600px & below
        TABLET: 600px - 900px
        DSKTOP: 900px & up
*/
/* line 7, ../sass/_grid.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/***** GRID *****/
/* line 13, ../sass/_grid.scss */
.column {
  float: left;
  padding: 10px 10px;
}

/* line 17, ../sass/_grid.scss */
.nofloat {
  float: none;
}

/* line 20, ../sass/_grid.scss */
.column.full {
  width: 100%;
}

/* line 23, ../sass/_grid.scss */
.column.twothirds {
  width: 66.666666%;
}

/* line 26, ../sass/_grid.scss */
.column.threefourths {
  width: 75%;
}

/* line 29, ../sass/_grid.scss */
.column.fourfifths {
  width: 80%;
}

/* line 32, ../sass/_grid.scss */
.column.fivesixths {
  width: 83.333333%;
}

/* line 35, ../sass/_grid.scss */
.column.threequarter {
  width: 75%;
}

/* line 38, ../sass/_grid.scss */
.column.half {
  width: 50%;
}

/* line 41, ../sass/_grid.scss */
.column.third {
  width: 33.333333%;
}

/* line 44, ../sass/_grid.scss */
.column.fourth {
  width: 25%;
}

/* line 47, ../sass/_grid.scss */
.column.fifth {
  width: 20%;
}

/* line 50, ../sass/_grid.scss */
.column.sixth {
  width: 16.666666%;
}

/***** TOOLS *****/
/* line 54, ../sass/_grid.scss */
.center {
  float: none;
  margin: auto;
}

/* line 58, ../sass/_grid.scss */
.nospace {
  padding: 0 !important;
  margin: 0 !important;
}

/* line 62, ../sass/_grid.scss */
.flowopposite {
  float: right;
}

/* line 65, ../sass/_grid.scss */
.nopadding {
  padding: 0 !important;
}

/* line 68, ../sass/_grid.scss */
.clearall {
  clear: both;
}

/* line 4, ../sass/_contact.scss */
.lgtw {
  font: 4em "Nunito Sans", sans-serif;
  font-weight: 900;
  color: #fff;
  padding-left: .25em;
}

/* line 11, ../sass/_contact.scss */
.hl {
  font: 1.25em "Nunito Sans", sans-serif;
  color: #fff;
  padding-left: 2em;
  width: 75%;
}

/* line 18, ../sass/_contact.scss */
.connect {
  padding-left: 1.3em;
  color: #fff;
}
/* line 21, ../sass/_contact.scss */
.connect p {
  font: 1.75em "Nunito Sans", sans-serif;
  font-weight: 900;
  margin-bottom: 0;
  line-height: .8em;
}
/* line 27, ../sass/_contact.scss */
.connect h3 {
  font: 1.5em "Nunito Sans", sans-serif;
  margin-left: 1em;
  margin-bottom: 0;
}
/* line 32, ../sass/_contact.scss */
.connect a {
  text-decoration: none;
  color: #fff;
  font: 1.5em "Nunito Sans", sans-serif;
  margin-left: 1em;
}
/* line 38, ../sass/_contact.scss */
.connect .icon {
  content: '';
  padding-top: 1em;
  display: flex;
  width: 32px;
  height: 32px;
}

/*  DEFAULT SETTINGS:
        MOBILE: 600px & below
        TABLET: 600px - 900px
        DSKTOP: 900px & up
*/
/* line 7, ../sass/_grid.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/***** GRID *****/
/* line 13, ../sass/_grid.scss */
.column {
  float: left;
  padding: 10px 10px;
}

/* line 17, ../sass/_grid.scss */
.nofloat {
  float: none;
}

/* line 20, ../sass/_grid.scss */
.column.full {
  width: 100%;
}

/* line 23, ../sass/_grid.scss */
.column.twothirds {
  width: 66.666666%;
}

/* line 26, ../sass/_grid.scss */
.column.threefourths {
  width: 75%;
}

/* line 29, ../sass/_grid.scss */
.column.fourfifths {
  width: 80%;
}

/* line 32, ../sass/_grid.scss */
.column.fivesixths {
  width: 83.333333%;
}

/* line 35, ../sass/_grid.scss */
.column.threequarter {
  width: 75%;
}

/* line 38, ../sass/_grid.scss */
.column.half {
  width: 50%;
}

/* line 41, ../sass/_grid.scss */
.column.third {
  width: 33.333333%;
}

/* line 44, ../sass/_grid.scss */
.column.fourth {
  width: 25%;
}

/* line 47, ../sass/_grid.scss */
.column.fifth {
  width: 20%;
}

/* line 50, ../sass/_grid.scss */
.column.sixth {
  width: 16.666666%;
}

/***** TOOLS *****/
/* line 54, ../sass/_grid.scss */
.center {
  float: none;
  margin: auto;
}

/* line 58, ../sass/_grid.scss */
.nospace {
  padding: 0 !important;
  margin: 0 !important;
}

/* line 62, ../sass/_grid.scss */
.flowopposite {
  float: right;
}

/* line 65, ../sass/_grid.scss */
.nopadding {
  padding: 0 !important;
}

/* line 68, ../sass/_grid.scss */
.clearall {
  clear: both;
}

/* line 4, ../sass/_work.scss */
.tee {
  background-image: url(../img/t-shirt.png);
  background-position: bottom;
}

/* line 9, ../sass/_work.scss */
.runr {
  background-image: url(../img/runr.jpg);
  background-position: bottom;
}

/* line 14, ../sass/_work.scss */
.trav {
  background-image: url(../img/nzart_mock.png);
}

/* line 18, ../sass/_work.scss */
.int {
  background-image: url(../img/memp.png);
}

/* line 22, ../sass/_work.scss */
.tigvi {
  background-image: url(../img/twitu_till.png);
}

/*  DEFAULT SETTINGS:
        MOBILE: 600px & below
        TABLET: 600px - 900px
        DSKTOP: 900px & up
*/
/* line 7, ../sass/_grid.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/***** GRID *****/
/* line 13, ../sass/_grid.scss */
.column {
  float: left;
  padding: 10px 10px;
}

/* line 17, ../sass/_grid.scss */
.nofloat {
  float: none;
}

/* line 20, ../sass/_grid.scss */
.column.full {
  width: 100%;
}

/* line 23, ../sass/_grid.scss */
.column.twothirds {
  width: 66.666666%;
}

/* line 26, ../sass/_grid.scss */
.column.threefourths {
  width: 75%;
}

/* line 29, ../sass/_grid.scss */
.column.fourfifths {
  width: 80%;
}

/* line 32, ../sass/_grid.scss */
.column.fivesixths {
  width: 83.333333%;
}

/* line 35, ../sass/_grid.scss */
.column.threequarter {
  width: 75%;
}

/* line 38, ../sass/_grid.scss */
.column.half {
  width: 50%;
}

/* line 41, ../sass/_grid.scss */
.column.third {
  width: 33.333333%;
}

/* line 44, ../sass/_grid.scss */
.column.fourth {
  width: 25%;
}

/* line 47, ../sass/_grid.scss */
.column.fifth {
  width: 20%;
}

/* line 50, ../sass/_grid.scss */
.column.sixth {
  width: 16.666666%;
}

/***** TOOLS *****/
/* line 54, ../sass/_grid.scss */
.center {
  float: none;
  margin: auto;
}

/* line 58, ../sass/_grid.scss */
.nospace {
  padding: 0 !important;
  margin: 0 !important;
}

/* line 62, ../sass/_grid.scss */
.flowopposite {
  float: right;
}

/* line 65, ../sass/_grid.scss */
.nopadding {
  padding: 0 !important;
}

/* line 68, ../sass/_grid.scss */
.clearall {
  clear: both;
}

/* line 4, ../sass/_about.scss */
.about {
  font: 3.5em "Nunito Sans", sans-serif;
  font-weight: 900;
  color: #fff;
  margin: 0 0 .5em 3.5em;
}

/* line 11, ../sass/_about.scss */
.me {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 1.5em;
}
/* line 16, ../sass/_about.scss */
.me .photo {
  background-image: url("../img/me_nyc.png");
  background-size: cover;
  width: 25em;
  height: 20em;
  border-radius: 4em;
}
/* line 23, ../sass/_about.scss */
.me p {
  width: 40%;
  font-family: "Helvetica Neue";
  color: #fff;
  font-size: 1.25em;
  padding-left: 2em;
  margin: 0;
}

/*  DEFAULT SETTINGS:
        MOBILE: 600px & below
        TABLET: 600px - 900px
        DSKTOP: 900px & up
*/
/* line 7, ../sass/_grid.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/***** GRID *****/
/* line 13, ../sass/_grid.scss */
.column {
  float: left;
  padding: 10px 10px;
}

/* line 17, ../sass/_grid.scss */
.nofloat {
  float: none;
}

/* line 20, ../sass/_grid.scss */
.column.full {
  width: 100%;
}

/* line 23, ../sass/_grid.scss */
.column.twothirds {
  width: 66.666666%;
}

/* line 26, ../sass/_grid.scss */
.column.threefourths {
  width: 75%;
}

/* line 29, ../sass/_grid.scss */
.column.fourfifths {
  width: 80%;
}

/* line 32, ../sass/_grid.scss */
.column.fivesixths {
  width: 83.333333%;
}

/* line 35, ../sass/_grid.scss */
.column.threequarter {
  width: 75%;
}

/* line 38, ../sass/_grid.scss */
.column.half {
  width: 50%;
}

/* line 41, ../sass/_grid.scss */
.column.third {
  width: 33.333333%;
}

/* line 44, ../sass/_grid.scss */
.column.fourth {
  width: 25%;
}

/* line 47, ../sass/_grid.scss */
.column.fifth {
  width: 20%;
}

/* line 50, ../sass/_grid.scss */
.column.sixth {
  width: 16.666666%;
}

/***** TOOLS *****/
/* line 54, ../sass/_grid.scss */
.center {
  float: none;
  margin: auto;
}

/* line 58, ../sass/_grid.scss */
.nospace {
  padding: 0 !important;
  margin: 0 !important;
}

/* line 62, ../sass/_grid.scss */
.flowopposite {
  float: right;
}

/* line 65, ../sass/_grid.scss */
.nopadding {
  padding: 0 !important;
}

/* line 68, ../sass/_grid.scss */
.clearall {
  clear: both;
}

/* line 4, ../sass/_travlr.scss */
.study1 {
  display: flex;
  justify-content: center;
}

/* line 9, ../sass/_travlr.scss */
.case {
  padding-bottom: 5em;
  width: 65%;
}

/* line 14, ../sass/_travlr.scss */
.paper {
  width: 10em;
  height: 18em;
}

/* line 19, ../sass/_travlr.scss */
.travlr {
  color: #fff;
  font: 3.5em "Nunito Sans", sans-serif;
  font-weight: 900;
  height: 5em;
  position: relative;
  text-align: center;
}
/* line 26, ../sass/_travlr.scss */
.travlr p {
  font: .75em sans-serif;
  margin: 0;
  padding-top: .5em;
}

/* line 33, ../sass/_travlr.scss */
.photo1 {
  background-image: url(../img/Simple%20Dark.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 1em;
  position: relative;
  margin: 0;
  width: 2em;
  height: 36em;
  background-position: center center;
}

/* line 47, ../sass/_travlr.scss */
.bulk {
  color: #fff;
  font: 1.25em "Helvetica Neue";
  line-height: 1.5em;
  padding: 1em 0;
  margin: 0;
}

/* line 56, ../sass/_travlr.scss */
.photo2 {
  background-image: url(../img/photo2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 2em;
  margin: 0 auto;
  width: 2em;
  height: 30em;
}

/* line 67, ../sass/_travlr.scss */
.loc {
  background-size: contain;
  background-repeat: no-repeat;
}

/* line 72, ../sass/_travlr.scss */
.color {
  display: flex;
  width: 5em;
  height: 15em;
  border-radius: 2em;
  margin: 2em;
}

/* line 80, ../sass/_travlr.scss */
.photo3 {
  background-image: url(/img/sign_in.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 1em;
  width: 2em;
  height: 30em;
}

/* line 89, ../sass/_travlr.scss */
.photo4 {
  background-image: url(/img/details.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 1em;
  width: 2em;
  height: 30em;
}

/* line 10, ../sass/home-style.scss */
body {
  margin: 0 auto;
  padding: 0;
  background: linear-gradient(16deg, #1d2b67 0%, #9c4ac9 100%);
  min-height: 100vh;
  position: relative;
}

/* line 19, ../sass/home-style.scss */
.rotator {
  font-family: "Verdana";
  font-size: 3em;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
}

/* line 32, ../sass/home-style.scss */
footer {
  background-color: #ffffff;
  width: 100%;
  max-width: 2000px;
  margin: auto auto 0 auto;
  position: absolute;
  bottom: 0;
}
/* line 42, ../sass/home-style.scss */
footer p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.15em;
  display: inline-block;
  margin: 0;
  padding: .5em;
  top: 1em;
}
/* line 50, ../sass/home-style.scss */
footer a {
  text-decoration: none;
  color: black;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.15em;
  font-weight: 400;
  display: inline-block;
  margin: 0;
  padding: .5em;
  top: 1em;
}

/* line 65, ../sass/home-style.scss */
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 75%;
}

/* line 73, ../sass/home-style.scss */
.head {
  font: 3.5em "Nunito Sans", sans-serif;
  font-weight: 900;
  color: #fff;
  text-align: center;
}

/* line 80, ../sass/home-style.scss */
.sub {
  font: 1.5em "Nunito Sans", sans-serif;
  color: #fff;
  text-align: center;
}

/* line 86, ../sass/home-style.scss */
.photos {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 300px;
}

/***********
**Case Study
***********/
/* line 99, ../sass/home-style.scss */
.bodyp {
  width: 75%;
  margin: 0 auto;
  font-family: "Lora", serif;
  font-size: 1.25em;
  color: #fff;
}

/* line 106, ../sass/home-style.scss */
.sugar_cl {
  background-image: url(../img/sugar_cl.jpg);
}

/* line 109, ../sass/home-style.scss */
.user1 {
  background-image: url(../img/user1.png);
}

/* line 112, ../sass/home-style.scss */
.user2 {
  background-image: url(../img/user2.png);
}

/* line 115, ../sass/home-style.scss */
.colors {
  background-image: url(../img/colors.png);
}

/* line 118, ../sass/home-style.scss */
.me {
  background-image: url(../img/me_nyc.png);
  background-size: contain;
}

/***********
**Padding&Margin
***********/
/* line 128, ../sass/home-style.scss */
.bot1 {
  padding-bottom: 1em;
}

/* line 132, ../sass/home-style.scss */
.bot2 {
  padding-bottom: 2em;
}

/* line 136, ../sass/home-style.scss */
.bot3 {
  padding-bottom: 3em;
}

/* line 140, ../sass/home-style.scss */
.mar1 {
  margin-bottom: 1em;
}

/* line 144, ../sass/home-style.scss */
.mar2 {
  margin-bottom: 2em;
}
