/* line 3, ../sass/style.scss */
body {
  margin: 0 auto;
  padding: 0;
  background-color: #f8f8f8;
}

/* line 9, ../sass/style.scss */
.nav {
  display: inline-flex;
  justify-content: space-between;
  padding: 0 5em;
  align-items: center;
  position: fixed;
  z-index: 999;
  overflow: hidden;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  height: 5em;
  border-bottom: 1px solid #6414c1;
  transition: all .5s;
}
@media (max-width: 500px) {
  /* line 9, ../sass/style.scss */
  .nav {
    padding: 0 2em;
  }
}
/* line 26, ../sass/style.scss */
.nav .logo {
  font-family: "DM Sans", sans-serif;
  color: #6414c1;
  font-size: 2.5em;
  font-weight: 700;
}
@media (max-width: 500px) {
  /* line 26, ../sass/style.scss */
  .nav .logo {
    font-size: 2em;
  }
}
/* line 35, ../sass/style.scss */
.nav ul {
  display: flex;
  list-style: none;
  font-family: "DM Sans", sans-serif;
  font-size: 1.25em;
  font-weight: 700;
}
@media (max-width: 500px) {
  /* line 35, ../sass/style.scss */
  .nav ul {
    font-size: 1em;
  }
}
/* line 44, ../sass/style.scss */
.nav ul li {
  margin: 0;
  padding: 1em;
}
@media (max-width: 500px) {
  /* line 44, ../sass/style.scss */
  .nav ul li {
    padding: .75em;
  }
}
/* line 50, ../sass/style.scss */
.nav ul li a {
  text-decoration: none;
  color: #000;
}

/* line 58, ../sass/style.scss */
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* line 66, ../sass/style.scss */
#landingPage {
  width: 65%;
  height: 100%;
  padding-bottom: 6em;
}
/* line 70, ../sass/style.scss */
#landingPage #firstText {
  padding-top: 10em;
}
@media (max-width: 500px) {
  /* line 70, ../sass/style.scss */
  #landingPage #firstText {
    padding-top: 10em;
  }
}
/* line 75, ../sass/style.scss */
#landingPage #firstText .subhead {
  font-family: "DM Sans", sans-serif;
  font-size: 1.25em;
  color: #6414c1;
}

/* line 83, ../sass/style.scss */
.head {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  color: #6414c1;
}
@media (max-width: 500px) {
  /* line 83, ../sass/style.scss */
  .head {
    font-size: 2em;
  }
}

/* line 93, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 97, ../sass/style.scss */
.content {
  padding: 2em 0;
  width: 65%;
}
/* line 100, ../sass/style.scss */
.content .contentWrap {
  padding: 1em 0 4em;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  height: inherit;
}

/* line 112, ../sass/style.scss */
.textContent {
  width: 100%;
  font-family: "DM Sans", sans-serif;
  font-size: 1em;
  line-height: 1.7;
}
@media (max-width: 1000px) {
  /* line 112, ../sass/style.scss */
  .textContent {
    width: 80%;
  }
}
@media (max-width: 768px) {
  /* line 112, ../sass/style.scss */
  .textContent {
    width: 90%;
  }
}
@media (max-width: 700px) {
  /* line 112, ../sass/style.scss */
  .textContent {
    font-size: 16px;
  }
}
/* line 126, ../sass/style.scss */
.textContent p {
  margin: 28px 0;
}
/* line 129, ../sass/style.scss */
.textContent #headerText {
  font-size: 1em;
  font-weight: 700;
}

/* line 135, ../sass/style.scss */
.personal {
  background-size: contain;
  width: 320px;
  height: 456px;
}
@media (max-width: 1000px) {
  /* line 135, ../sass/style.scss */
  .personal {
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  /* line 135, ../sass/style.scss */
  .personal {
    width: 200px;
    height: auto;
  }
}

/* line 148, ../sass/style.scss */
.sparta {
  width: 300px;
  height: auto;
  background-size: contain;
  margin: 2em 0;
}

/* line 155, ../sass/style.scss */
#contact {
  width: 65%;
  margin: 2em 10em 4em;
  font-family: "DM Sans", sans-serif;
}
/* line 160, ../sass/style.scss */
#contact #contactWrap {
  padding: 1em 0 3em;
  margin: 0 auto;
  display: flex;
  font-size: 1em;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  height: inherit;
}
/* line 171, ../sass/style.scss */
#contact #contactWrap ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
/* line 175, ../sass/style.scss */
#contact #contactWrap ul li {
  list-style: none;
}
/* line 177, ../sass/style.scss */
#contact #contactWrap ul li a {
  text-decoration: none;
  color: #000;
}

/* line 187, ../sass/style.scss */
form {
  margin: 2em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ebebeb;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  border-radius: .5em;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
/* line 198, ../sass/style.scss */
form input, form textarea {
  margin: 1em auto;
  padding: .5em;
  width: 75%;
  border: none;
  border-bottom: 1px solid #000;
}
/* line 205, ../sass/style.scss */
form textarea {
  height: 4em;
}
/* line 208, ../sass/style.scss */
form button {
  width: 10em;
  height: 2.5em;
  margin: 1em auto;
  border: none;
  font-family: "DM Sans", sans-serif;
  font-size: 1.25em;
  background-color: #6414c1;
  color: #fff;
  border-radius: .5em;
  cursor: pointer;
}
/* line 219, ../sass/style.scss */
form button:hover {
  background-color: rgba(100, 20, 193, 0.83);
}

/* line 226, ../sass/style.scss */
footer {
  width: 100%;
  height: 100px;
  background-color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 700px) {
  /* line 226, ../sass/style.scss */
  footer {
    flex-wrap: wrap;
  }
}
/* line 237, ../sass/style.scss */
footer #foot {
  font-family: "DM Sans", sans-serif;
  color: #fff;
  font-size: 2.5em;
  font-weight: 700;
}
@media (max-width: 480px) {
  /* line 237, ../sass/style.scss */
  footer #foot {
    font-size: 2em;
  }
}
/* line 246, ../sass/style.scss */
footer #social {
  display: flex;
  width: 40%;
  justify-content: space-around;
}
/* line 250, ../sass/style.scss */
footer #social img {
  width: 80%;
}
/* line 254, ../sass/style.scss */
footer .text {
  font-family: "DM Sans", sans-serif;
  font-size: 1em;
}
/* line 258, ../sass/style.scss */
footer a {
  color: #fff;
  text-decoration: none;
}

/* line 264, ../sass/style.scss */
.moar {
  padding-top: 5em;
}

/* line 268, ../sass/style.scss */
.bigish {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 1em auto;
  width: 100%;
  height: 100%;
  text-align: center;
}

/* line 278, ../sass/style.scss */
.halfish {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  width: 25%;
  height: 25%;
  text-align: center;
}
@media (max-width: 1000px) {
  /* line 278, ../sass/style.scss */
  .halfish {
    width: 50%;
    height: 50%;
  }
}
@media (max-width: 500px) {
  /* line 278, ../sass/style.scss */
  .halfish {
    width: 60%;
    height: 60%;
  }
}

/* line 297, ../sass/style.scss */
.frontImg {
  position: relative;
  text-align: center;
}
/* line 300, ../sass/style.scss */
.frontImg:hover .text {
  text-decoration: underline;
  left: 5%;
}
/* line 304, ../sass/style.scss */
.frontImg .frontPage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
/* line 312, ../sass/style.scss */
.frontImg #black {
  color: #000;
}
/* line 315, ../sass/style.scss */
.frontImg .text {
  position: absolute;
  color: #fff;
  z-index: 5;
  font-family: "DM Sans", sans-serif;
  left: 3%;
  transition: all .7s ease;
}
/* line 323, ../sass/style.scss */
.frontImg .main {
  top: .5em;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: .45rem;
}
@media (max-width: 900px) {
  /* line 323, ../sass/style.scss */
  .frontImg .main {
    font-size: 1.75em;
    letter-spacing: .35rem;
  }
}
@media (max-width: 700px) {
  /* line 323, ../sass/style.scss */
  .frontImg .main {
    font-size: 1.25em;
  }
}
@media (max-width: 500px) {
  /* line 323, ../sass/style.scss */
  .frontImg .main {
    font-size: 1em;
    letter-spacing: .2rem;
  }
}
/* line 341, ../sass/style.scss */
.frontImg .sub {
  top: 3.5em;
  font-size: 1em;
  font-style: italic;
  letter-spacing: .1rem;
}
@media (max-width: 900px) {
  /* line 341, ../sass/style.scss */
  .frontImg .sub {
    font-size: 1.15em;
  }
}
@media (max-width: 700px) {
  /* line 341, ../sass/style.scss */
  .frontImg .sub {
    font-size: 1em;
  }
}
@media (max-width: 500px) {
  /* line 341, ../sass/style.scss */
  .frontImg .sub {
    font-size: .5em;
  }
}

/* line 358, ../sass/style.scss */
.o_btn {
  width: 250px;
  height: 60px;
  border-radius: 3px;
  background-color: #6414c1;
  margin: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
/* line 368, ../sass/style.scss */
.o_btn .fa-arrow-right {
  font-size: 1.5em;
  margin: 0 auto;
  transition: transform .125s linear;
}
/* line 373, ../sass/style.scss */
.o_btn:hover .fa-arrow-right {
  transform: translateX(10px);
}
/* line 376, ../sass/style.scss */
.o_btn span {
  display: flex;
  font-family: "DM Sans", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  margin: 0 auto;
  overflow: hidden;
  color: #fff;
  transition: transform .125s linear;
}
/* line 386, ../sass/style.scss */
.o_btn:hover span {
  transform: translateX(30px);
}
/* line 389, ../sass/style.scss */
.o_btn i {
  color: #fff;
  margin: 0 auto;
  display: flex;
}
