/* line 3, ../sass/_typo.scss */
h1 {
  font-family: "DM Sans", sans-serif;
  padding: .75em 0;
}
@media (max-width: 650px) {
  /* line 3, ../sass/_typo.scss */
  h1 {
    font-size: 1.25em;
    padding: .25em 0 0 0;
  }
}

/* line 13, ../sass/_typo.scss */
p {
  font-family: "DM Sans", sans-serif;
  line-height: 1.8;
  padding: .75em 0;
  font-size: 1.25em;
}
@media (max-width: 650px) {
  /* line 13, ../sass/_typo.scss */
  p {
    font-size: .875em;
  }
}

/* line 4, ../sass/style.scss */
body {
  margin: 0 auto;
  padding: 0;
  background-image: url("../img/bgthree.png");
  background-size: contain;
}

/* line 12, ../sass/style.scss */
.nav {
  display: inline-flex;
  justify-content: space-between;
  padding: 0 5em;
  align-items: center;
  position: fixed;
  z-index: 999;
  overflow: hidden;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  height: 5em;
  border-bottom: 1px solid #6414c1;
  transition: all .75s;
}
@media (max-width: 500px) {
  /* line 12, ../sass/style.scss */
  .nav {
    padding: 0 2em;
  }
}
/* line 29, ../sass/style.scss */
.nav .logo {
  font-family: "DM Sans", sans-serif;
  color: #6414c1;
  font-size: 2.5em;
  font-weight: 700;
}
@media (max-width: 500px) {
  /* line 29, ../sass/style.scss */
  .nav .logo {
    font-size: 2em;
  }
}
/* line 38, ../sass/style.scss */
.nav ul {
  display: flex;
  list-style: none;
  font-family: "DM Sans", sans-serif;
  font-size: 1.25em;
  font-weight: 700;
}
@media (max-width: 500px) {
  /* line 38, ../sass/style.scss */
  .nav ul {
    font-size: 1em;
  }
}
/* line 47, ../sass/style.scss */
.nav ul li {
  margin: 0;
  padding: 1em;
}
@media (max-width: 500px) {
  /* line 47, ../sass/style.scss */
  .nav ul li {
    padding: .75em;
  }
}
/* line 53, ../sass/style.scss */
.nav ul li a {
  text-decoration: none;
  color: #000;
}

/* line 61, ../sass/style.scss */
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* line 71, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 75, ../sass/style.scss */
.content {
  padding: 2em 0;
  width: 70%;
}
@media (max-width: 500px) {
  /* line 75, ../sass/style.scss */
  .content {
    width: 80%;
  }
}
/* line 81, ../sass/style.scss */
.content .contentWrap {
  padding: 1em 0 2em;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  height: inherit;
}

/* line 93, ../sass/style.scss */
form {
  margin: 2em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ebebeb;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  border-radius: .5em;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
/* line 104, ../sass/style.scss */
form input, form textarea {
  margin: 1em auto;
  padding: .5em;
  width: 75%;
  border: none;
  border-bottom: 1px solid #000;
}
/* line 111, ../sass/style.scss */
form textarea {
  height: 4em;
}
/* line 114, ../sass/style.scss */
form button {
  width: 10em;
  height: 2.5em;
  margin: 1em auto;
  border: none;
  font-family: "DM Sans", sans-serif;
  font-size: 1.25em;
  background-color: #6414c1;
  color: #fff;
  border-radius: .5em;
  cursor: pointer;
}
/* line 125, ../sass/style.scss */
form button:hover {
  background-color: #3c0c74;
}

/* line 132, ../sass/style.scss */
footer {
  width: 100%;
  height: 100px;
  background-color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 700px) {
  /* line 132, ../sass/style.scss */
  footer {
    flex-wrap: wrap;
  }
}
/* line 143, ../sass/style.scss */
footer #foot {
  font-family: "DM Sans", sans-serif;
  color: #fff;
  font-size: 2.5em;
  font-weight: 700;
}
@media (max-width: 480px) {
  /* line 143, ../sass/style.scss */
  footer #foot {
    font-size: 2em;
  }
}
/* line 152, ../sass/style.scss */
footer #social {
  display: flex;
  width: 40%;
  justify-content: space-around;
}
/* line 156, ../sass/style.scss */
footer #social img {
  width: 80%;
}
/* line 160, ../sass/style.scss */
footer .text {
  font-family: "DM Sans", sans-serif;
  font-size: 1em;
}
/* line 164, ../sass/style.scss */
footer a {
  color: #fff;
  text-decoration: none;
}

/* line 170, ../sass/style.scss */
.moar {
  padding-top: 5em;
}

/* line 174, ../sass/style.scss */
.bigish {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 2em auto;
  width: 100%;
  height: 100%;
  text-align: center;
}

/* line 184, ../sass/style.scss */
.quarterish {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 0 2em 0;
  width: 50%;
  height: 50%;
  text-align: center;
}

/* line 194, ../sass/style.scss */
.halfish {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  width: 25%;
  height: 25%;
  text-align: center;
}
@media (max-width: 1000px) {
  /* line 194, ../sass/style.scss */
  .halfish {
    width: 50%;
    height: 50%;
  }
}
@media (max-width: 500px) {
  /* line 194, ../sass/style.scss */
  .halfish {
    width: 60%;
    height: 60%;
  }
}

/* line 213, ../sass/style.scss */
.frontImg {
  position: relative;
  text-align: center;
}
/* line 216, ../sass/style.scss */
.frontImg:hover .text {
  left: 5%;
}
/* line 219, ../sass/style.scss */
.frontImg .frontPage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 1em auto;
  width: 100%;
  height: 100%;
}
/* line 227, ../sass/style.scss */
.frontImg #black {
  color: #000;
}
/* line 230, ../sass/style.scss */
.frontImg .text {
  position: absolute;
  color: #fff;
  z-index: 5;
  font-family: "DM Sans", sans-serif;
  left: 3%;
  transition: all .7s ease;
}
/* line 238, ../sass/style.scss */
.frontImg .main {
  top: 1.5em;
  font-size: 2em;
  font-weight: 700;
}
@media (max-width: 900px) {
  /* line 238, ../sass/style.scss */
  .frontImg .main {
    font-size: 1.75em;
    letter-spacing: .35rem;
  }
}
@media (max-width: 700px) {
  /* line 238, ../sass/style.scss */
  .frontImg .main {
    font-size: 1.25em;
  }
}
@media (max-width: 500px) {
  /* line 238, ../sass/style.scss */
  .frontImg .main {
    font-size: 1em;
    letter-spacing: normal;
  }
}
/* line 256, ../sass/style.scss */
.frontImg .sub {
  top: 5.5em;
  font-size: 1em;
  letter-spacing: .1rem;
}
@media (max-width: 900px) {
  /* line 256, ../sass/style.scss */
  .frontImg .sub {
    font-size: 1.15em;
  }
}
@media (max-width: 700px) {
  /* line 256, ../sass/style.scss */
  .frontImg .sub {
    font-size: 1em;
  }
}
@media (max-width: 500px) {
  /* line 256, ../sass/style.scss */
  .frontImg .sub {
    font-size: .5em;
  }
}

/* line 273, ../sass/style.scss */
.heroimg {
  background-size: auto;
  width: 100vw;
}

/* line 278, ../sass/style.scss */
.space {
  padding-top: 5em;
}
